<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <jdbc:embedded-database type="HSQL" id="dataSource">
        <jdbc:script location="classpath:data/00_create.sql"/>
        <jdbc:script location="classpath:data/01_office.sql"/>
        <jdbc:script location="classpath:data/02_person.sql"/>
        <jdbc:script location="classpath:data/03_employee.sql"/>
        <jdbc:script location="classpath:data/04_customer.sql"/>
        <jdbc:script location="classpath:data/05_product.sql"/>
        <jdbc:script location="classpath:data/06_order.sql"/>
        <jdbc:script location="classpath:data/07_order_detail.sql"/>
        <jdbc:script location="classpath:data/08_payment.sql"/>
    </jdbc:embedded-database>

    <bean id="databaseIntrospector" class="graphql.sql.core.introspect.JDBCIntrospector">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="nameProvider" class="graphql.sql.core.config.impl.UnderscoreToCamelcaseNameProvider">
        <constructor-arg>
            <bean class="graphql.sql.core.config.impl.IdentityAbbreviationResolver"/>
        </constructor-arg>
    </bean>

    <bean id="configProvider" class="graphql.sql.core.config.groovy.GroovyConfigProvider">
        <constructor-arg index="0" value="classpath:integration-test-graphql-config.graphqlsql"/>
        <constructor-arg index="1" ref="nameProvider"/>
        <constructor-arg index="2" ref="databaseIntrospector"/>
    </bean>

    <bean id="config" factory-bean="configProvider" factory-method="getConfig"/>

    <bean id="graphQLSchema" factory-bean="typesProvider" factory-method="getSchema"/>

    <bean id="documentExecutor" class="graphql.sql.core.DocumentExecutor">
        <constructor-arg index="0" ref="graphQLSchema"/>
        <constructor-arg index="1" ref="operationExecutor"/>
        <constructor-arg index="2" value="10"/>
    </bean>

    <bean id="operationExecutor" class="graphql.sql.core.OperationExecutor">
        <constructor-arg index="0" ref="typesProvider"/>
        <constructor-arg index="1" ref="config"/>
        <constructor-arg index="2" ref="queryExecutorBuilder"/>
        <constructor-arg index="3" ref="dataSource"/>
        <constructor-arg index="4" value="10"/>
        <constructor-arg index="5" value="10"/>
    </bean>

    <bean id="typesProvider" class="graphql.sql.core.config.GraphQLTypesProvider">
        <constructor-arg index="0" ref="config"/>
        <constructor-arg index="1" ref="nameProvider"/>
    </bean>

    <bean id="queryExecutorBuilder" class="graphql.sql.core.GraphQLQueryExecutorBuilder">
        <constructor-arg index="0" ref="config"/>
        <constructor-arg index="1" ref="typesProvider"/>
    </bean>

</beans>